<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "<http://www.apple.com/DTDs/PropertyList$>
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>func.__NAME__</string>
        <key>Program</key>
        <string>/usr/local/share/func/bin/algod</string>
        <key>EnvironmentVariables</key>
        <dict>
            <key>ALGORAND_DATA</key>
            <string>__PARENTDIR__/__NAME__</string>
        </dict>
        <key>RunAtLoad</key>
        <true/>
    </dict>
</plist>