<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "<http://www.apple.com/DTDs/PropertyList$>
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>func.api</string>
        <key>Program</key>
        <string>/opt/func/FUNC</string>
        <key>WorkingDirectory</key>
        <string>/opt/func</string>
        <key>RunAtLoad</key>
        <true/>
    </dict>
</plist>