<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "<http://www.apple.com/DTDs/PropertyList$>
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>func.reti</string>
        <key>ProgramArguments</key>
            <array>
                <string>/usr/local/share/func/reti/reti</string>
                <string>-n</string>
                <string>mainnet</string>
                <string>-e</string>
                <string>/usr/local/share/func/reti/.env</string>
                <string>d</string>
            </array>
        <key>RunAtLoad</key>
        <true/>
    </dict>
</plist>