[Unit]
Description=Reti daemon
After=network.target

[Service]
User=func-reti
Group=func-reti
ExecStart=/usr/share/func/reti/reti -n mainnet -e /usr/share/func/reti/.env d
Restart=always
RestartSec=5s
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
